<h1>Show Company</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @company.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @company.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.company_path(@conn, :edit, @company) , class: "link-dark"%></span> |
<span><%= link "Back", to: Routes.company_path(@conn, :index), class: "link-dark" %></span>
